version: '3.8'

services:
  api:
    build: .
    volumes:
      - ./models:/app/models
      - ./data:/app/data
    deploy:
      replicas: 1 # Scale this up for load testing: docker-compose up --scale api=3
    environment:
      - MONGO_URI=${MONGO_URI}

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8000:80"
    depends_on:
      - api

  locust:
    image: locustio/locust
    ports:
      - "8089:8089"
    working_dir: /mnt/locust
    volumes:
      - ./locustfile.py:/mnt/locust/locustfile.py
      - ./data:/mnt/locust/data # Mount the data directory so locust can access images
    command: -f /mnt/locust/locustfile.py --host http://nginx:80
